cat=books

model_type=flaubert
model_name=flaubert_base_cased

# for models dowloaded from Hugging Face with flue/pretrained_models/hg_download_models.py
snapshot_hash=f681df336b523e136915ae97bc8bd0ef4933ae36

# (Optional) model_fname is the path to the model directory dowloaded with hg_download_models.py 
# which contains the model files config.json, tokenizer_config.json, and vocab.json
model_fname=models--$model_type--$model_name/snapshots/$snapshot_hash

# If you set task_name=mrpc, run_glue.py will try to load the GLUE MRPC task from the Hugging Face datasets hub
# If you want to use the PAWSX dataset as a custom dataset (with --train_file, --validation_file, etc.), you should not set task_name, or set it to None or leave it blank.
# task_name=""
batch_size=8
lr=5e-6
epochs=30

exp_name="cls_hf_"$cat"_"$model_name
exp_id="lr_"$lr

train_file=flue/data/cls/processed/books-csv/train.csv
validation_file=flue/data/cls/processed/books-csv/dev.csv
test_file=flue/data/cls/processed/books-csv/test.csv

# (Required) model_name_or_path redirects to the model directory, which contains the model files 
# config.json, tokenizer_config.json, and vocab.json stored in flue/pretrained_models
model_name_or_path=flue/pretrained_models/$model_fname

output_dir=flue/experiments/$model_type/$exp_name/$exp_id

save_steps=50000
max_seq_length=512